<div class="container">
  <div class="row">
    <div class="col-11">
      <div class="row">
        <div class="col-7" style="background-color: red;">
          <img [src]="product.imageUrl" class="card-img-top product-img" alt="...">
        </div>
        <div class="col-4" style="background-color: aqua;">
          <h2>{{product.name}}</h2>
          <p>{{product.price}}</p>
          <button type="button" class="btn btn-primary btn-sm">Add To Cart</button>
          <button type="button" class="btn btn-primary btn-sm">Add To Favorites</button>
        </div>
      </div>
    </div>
  </div>

</div>